
    <div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista" name="" id="">
    </div>
</div>
 <app-tarjetas [items]="Artistas" ></app-tarjetas>




   