<div class="row">
    <div class="col-2">
        <img [src]="artista.images | noimage"  class="img-thumbnail"alt="">
    </div>
    <div class="col">
        <h3></h3>
        <p>
            <a  > ir a la pagina del artista</a>
           
        </p>
    </div>
    <div class="col-4 text-right">
        <button class="btn btn-outline-danger"> Regresar</button>
    </div>
</div>
