<div class="card-columns m-5">
    <div class="card" *ngFor="let item of items"  (click)="verArtista(item)">
      <img [src]="item.images  | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text"><span *ngFor="let artista of item.artists" class="badge badge-dark">{{item.name}}</span></p>
      </div>
    </div>
</div>
